.about {
    background-color: #FAFAFA;
}

.about-header {
    padding-bottom: 9rem;
}

.about-main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.about-header-main {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}

.about-header-main::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 10rem;
    background: var(--btn-bg);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.about-header-sec {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 35rem;
    margin: auto;
    line-height: 1.6;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.about-content-main-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.about-content-main-details-para {
    font-size: 1.2rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.about-content-main-skills {
    display: flex;
    flex-wrap: wrap;
}